.details {
  width: 100%;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    color: $white;
  }

  &__name {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 800px;
    width: 100%;
  }

  &__img {
    min-width: 40%;
    max-width: 100%;
    min-height: 50%;
    max-height: 80%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  p {
    font-size: 1.2rem;
  }

  &__creator,
  &__collection,
  &__owner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-top: 50px;
    &-title {
      font-size: 2rem;
    }
  }

  &__creator {
    margin: 0;
  }

  &__creator,
  &__owner {
    &-name {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $white;
      }
    }
  }

  &__collection {
    &-banner {
      width: 100%;
      min-height: 100px;
    }
  }
}
